h1{
    background-color: aqua;
    font-size: 25px;
    color: brown;
}
p{
    background-color: brown;
    color: aqua;
    font-size: 25px;
}
h3{
    background-color: brown;
    color: aqua;
    font-size: 25px;
}